.dx-datagrid-rowsview table,
.dx-datagrid-headers table {
  border-collapse: separate !important;
  /* border-spacing: 4px !important; */
  table-layout: fixed !important;
}

.dx-datagrid-rowsview .dx-row > td {
  border-bottom: 2px solid #e0e0e0 !important;
  padding: 8px !important;
  background-color: white !important;
  box-sizing: border-box !important;
}
.dx-datagrid-headers .dx-header-row > td {
  border-top: 2px solid #626262 !important;
  border-bottom: 2px solid #626262 !important;
  background-color: white !important;
  box-sizing: border-box !important;
  border: #626262 !important;
}
