@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  scrollbar-color: #f1f1f1;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d4ed8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}
